/* apply */
.hidden {
  display: none;
}
.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 4rem;
  z-index: 60;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(226 232 240);
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header_main {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.left_toggle {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.left_toggle.open {
  background-color: rgb(239 246 255);
  color: rgb(37 99 235);
}
.left_toggle.off:hover {
  background-color: rgb(241 245 249);
}
.logo_wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(30 41 59);
}
.logo_wrap .icon {
  background-color: rgb(37 99 235);
  padding: 0.25rem;
  border-radius: 0.375rem;
}
.logo_wrap .icon > svg {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(255 255 255);
}
.logo_text {
  line-height: 1.75rem;
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  font-weight: 700;
}
.header_nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.mode_select {
  display: flex;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(226 232 240);
  background-color: rgb(241 245 249);
  padding: 0.25rem;
}
.reader {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border-radius: 0.375rem;
}
.reader.on {
  background-color: rgb(255 255 255);
  color: rgb(37 99 235);
}
.reader.off {
  color: rgb(100 116 139);
}
.reader.off:hover {
  color: rgb(37 99 235);
}
.report {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border-radius: 0.375rem;
}
.report.on {
  background-color: rgb(255 255 255);
  color: rgb(37 99 235);
}
.report.off:hover {
  color: rgb(37 99 235);
}
.separate_bar {
  width: 1px;
  height: 2rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: rgb(226 232 240);
}
.add_file {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(219 234 254);
  background-color: rgb(239 246 255);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-weight: 500;
  color: rgb(37 99 235);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.header_tools {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.search_icon_btn {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: rgb(100 116 139);
}
.search_icon_btn:hover {
  background-color: rgb(241 245 249);
}
.bookmark_icon_btn {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: rgb(100 116 139);
}
.bookmark_icon_btn:hover {
  background-color: rgb(241 245 249);
}
.bookmark_icon_btn.on {
  background-color: rgb(255 247 237);
  color: rgb(217 119 6);
}
.draw_icon_wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.25rem;
}
.draw_icon_inner {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(226 232 240);
  background-color: rgb(241 245 249);
  padding: 0.125rem;
}
.pen_tool {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: rgb(255 255 255);
  color: rgb(148 163 184);
}
.pen_tool:hover {
  color: rgb(71 85 105);
}
.pen_tool.on {
  color: rgb(37 99 235);
}
.pen_tool.off {
  background-color: rgb(241 245 249);
}
.detail_select {
  margin-right: 0.25rem;
  padding: 0.375rem;
  color: rgb(100 116 139);
}
.detail_select:hover {
  background-color: rgb(226 232 240);
}
.eraser_tool {
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: rgb(148 163 184);
}
.eraser_tool:hover {
  color: rgb(71 85 105);
}
.eraser_tool.on {
  color: rgb(239 68 68);
  background-color: rgb(255 255 255);
}
.appearance {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(100 116 139);
}
.appearance:hover {
  background-color: rgb(241 245 249);
}
.toggle_ai_notes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.toggle_ai_notes.on {
  background-color: rgb(239 246 255);
  color: rgb(37 99 235);
}
.toggle_ai_notes.off {
  color: rgb(100 116 139);
}
.toggle_ai_notes.off:hover {
  background-color: rgb(241 245 249);
}
.more {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(100 116 139);
}
.more:hover {
  background-color: rgb(241 245 249);
}
.more_list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 70;
  margin-top: 0.5rem;
  width: 12rem;
  border-radius: 0.75rem;
  border-width: 1px;
  padding: 0.25rem;
  border-color: rgb(226 232 240);
  background-color: rgb(255 255 255);
}
.more_list button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(51 65 85);
}
.more_list button:hover {
  background-color: rgb(241 245 249);
}
.more_list .exit_viewer {
  color: rgb(220 38 38);
}
