.navigation_inner {
  border-top-width: 1px;
  border-color: rgb(226 232 240);
  background-color: rgb(255 255 255);
}
.prograss_bar_wrap {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: rgb(241 245 249);
}
.prograss_max {
  position: absolute;
  inset: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.prograss_range {
  position: relative;
  z-index: 10;
  height: 100%;
  background-color: rgb(37 99 235);
}
.prograss_pointer {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  border-width: 2px;
  border-color: rgb(37 99 235);
  background-color: rgb(255 255 255);
  opacity: 0;
}
.navigation_bottom_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 48rem;
  margin: 0 auto;
  padding: 0.75rem 1rem;
}
.navigation_bottom_box button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}
.navigation_bottom_box button.on {
  background-color: rgb(37 99 235);
  color: rgb(255 255 255);
}
.navigation_bottom_box button.on:hover {
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}
.navigation_bottom_box button.off {
  color: rgb(203 213 225);
}
.navigation_bottom_box .chapter_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
.navigation_bottom_box .chapter_page > form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navigation_bottom_box .chapter_page .text_xs {
  line-height: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  color: rgb(148 163 184);
}
.navigation_bottom_box .chapter_page input {
  width: 2.5rem;
  border-width: 1px;
  border-color: rgb(226 232 240);
  background-color: rgb(241 245 249);
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: rgb(15 23 42);
}
.slash {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(148 163 184);
}
.chapter_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: rgb(100 116 139);
}
