.layout_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.split_container {
  position: relative;
  display: flex;
  overflow: hidden;
  /* padding-top: 4rem; */
  /* height: 100vh; */
  min-height: 0;
  flex: 1 1 0%;
}
.left_side_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid rgb(226 232 240);
  -webkit-user-select: none;
  user-select: none;
}
.left_side_wrap.on {
}
.left_side_wrap.off {
}
.left_side_inner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* 컨텐츠 컨테이너 */
.content_container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  min-width: 0;
  background-color: rgb(255 255 255);
}
.cc_top {
  /* width: 900px; */
  width: 100%;
  margin: 0 auto;
  /* flex: 1 1 auto; */
  min-height: 0; /* allow to shrink within container */
}
.cc_bottom {
  /* position: sticky;
  bottom: 0;
  z-index: 30; */
  width: 100%;
  flex: 0 0 auto; /* occupies its own height only */
}
/* 오른쪽 패널 */
.right_panel_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-left: 1px solid rgb(226 232 240);
  -webkit-user-select: none;
  user-select: none;
}
.right_panel_wrap.on {
}
.right_panel_wrap.off {
  width: 0;
  border-style: none;
}
